<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div id="header">
      <img src="http://i.imgur.com/1b3nJn0.png">
    </div>
    <div class="container">
      <div class="column">
      <img src="http://harmonicnewmedia.com/images/mailchimp-logo.png">
      <div id="mc_content">
        DB output here
      </div>
      </div>
      <div class="column">
        <img src="https://krowsoftware.com/krowgroup/2015/05/salesforce-logo-blue.png">
        <div id="sf_content">
          DB output here
        </div>
      </div>
      <div class="column">
        <img src="https://d16cvnquvjw7pr.buttfront.net/www/img/p-brand/downloads/Logo/Zendesk_logo_RGB.png">
        <div id="sf_content">
          DB output here
        </div>
      </div>
    </div>
  </body>
</html>
