<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div id="header">
      <img src="https://lh4.googleusercontent.com/8Mqc8_XRRWKd7VZsNif33vmYqj2FSrODjJorVojZJx2IkPfXzZ4Yu8lVhz6nWbTDwp-MDQ=s190">
    </div>
    <div class="container">
      <div class="column">
      <img src="http://harmonicnewmedia.com/images/mailchimp-logo.png">
      <div id="mc_content">
        DB output here
      </div>
      </div>
      <div class="column">
        <img src="https://krowsoftware.com/krowgroup/2015/05/salesforce-logo-blue.png">
        <div id="sf_content">
          DB output here
        </div>
      </div>
      <div class="column">
        <img src="http://p6.zdassets.com/hc/settings_assets/1/200000527/fWdG6N2OyT0CIzw67s27hQ-logo-support-2x.png">
        <div id="sf_content">
          DB output here
        </div>
      </div>
    </div>
  </body>
</html>
