#header {
  background-color: #4d3571;
  height: 120px;
  width: 100%;
  z-index: 1;
}

#header img {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
}

.container {
  width: 1200px;
  height: 800px;
  display: block;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

.column {
  height: 100%;
  width: calc(100%/3 - 3px);
  display: inline-block;
  margin: auto;
}

.column img {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  margin: auto;
}
