
<style>
  body, html {
    background:#4D3571;
  }
  .title {
    font-weight:100;
    color:#fff;
    text-shadow:2px 2px 0 #372750;
  }
</style>
<div class="container text-center">
  <br/>
  <br/>
  <h1 class="title"><strong>CORE</strong> CLOUD APP</h1>
  <br/>
  <br/>
</div>