<div id="container">
    <img class="rotating" src="http://i.imgur.com/CRjP7kU.png">
    <div class="login_container">
        <%= form_tag(:action=>'add_user') do %>
            <%= text_field_tag("firstname",nil,:placeholder=>"First Name",:required=>true) %>
            <%= text_field_tag("lastname",nil,:placeholder=>"Last Name",:required=>true) %>
            <%= password_field_tag("password",nil,:placeholder=>"Password",:required=>true) %>
        <% end %>
    </div>
</div>