<head>
  <meta charset="utf-8">

  <title>CORE</title>

  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="header">
  <a href="http://corecloudapp.com">
    <img class="header_icon" src="https://i.imgur.com/1b3nJn0.png" alt="core">
  </a>
</div>
<div id="container">
  <div id="sidebar">
    <div id="metrics_button" class="menu_button">
      Metrics
    </div>
    <div id="reports_button" class="menu_button">
      Reports
    </div>
    <div id="settings_button" class="menu_button selected">
      Settings
    </div>
    <div id="app_container">
      <div id="sidebar_left">
        <a href="#">
          <div id="CRM" class="app_button">

          </div>
        </a>
        <a href="#">
          <div id="marketing" class="app_button">

          </div>
        </a>
        <a href="#">
          <div id="accounting" class="app_button">

          </div>
        </a>
      </div>
      <div id="sidebar_right">
        <a href="#">
          <div id="support" class="app_button">

          </div>
        </a>
        <a href="#">
          <div id="ecommerce" class="app_button">

          </div>
        </a>
      </div>
    </div>
    <div id="admin_button" class="menu_button">
      Admin
    </div>
  </div>
  <div id="main">
    <div class="pane" id="metrics">

    </div>
    <div class="pane" id="reports">

    </div>
    <div class="pane" id="settings">
      <h2>User Settings</h2>
      <ul class="wrapper">
        <li>
          <p>User 1</p>
          <div class="s_item"></div>
        </li>
        <li>
          <p>User 2</p>
          <div class="s_item"></div>
        </li>
        <li>
          <p>User 3</p>
          <div class="s_item"></div>
        </li>
      </ul>
    </div>
    <div class="pane" id="admin">
      <h2>Applications</h2>
      <ul class="wrapper">
        <li>
          <p>CRM</p>
          <div class="a_item" id="s_CRM"></div>
        </li>
        <li>
          <p>Marketing</p>
          <div class="a_item" id="s_marketing"></div>
        </li>
        <li>
          <p>Accounting</p>
          <div class="a_item" id="s_accounting"></div>
        </li>
        <li>
          <p>Support</p>
          <div class="a_item" id="s_support"></div>
        </li>
        <li>
          <p>Ecommerce</p>
          <div class="a_item" id="s_ecommerce"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="javascripts/core.js"></script>
<script src="js/charts.js"></script>
</body>