<div class="header">
  <a href="http://corecloudapp.com">
    <img class="header_icon" src="https://i.imgur.com/1b3nJn0.png" alt="core">
  </a>
</div>
<div id="container">
  <div id="sidebar">
    <div id="metrics_button" class="menu_button selected">
      Metrics
    </div>
    <div id="reports_button" class="menu_button">
      Reports
    </div>
    <div id="settings_button" class="menu_button">
      Settings
    </div>
    <% if !!session[:is_admin] %>
      <div id="admin_button" class="menu_button">
        Admin
      </div>
    <% end %>
  </div>
  <div id="main">
    <div class="pane" id="metrics">
      <div id="metrics_container">
        <div id="monthly_sales" class="graph_container fullwidth">
          
        </div>
        <div id="market_share" class="graph_container thirdwidth left">
          
        </div>
        <div id="market" class="graph_container thirdwidth middle">
          
        </div>
        <div id="share" class="graph_container thirdwidth right">
          
        </div>
        <div class="graph_container halfwidth left">
          
        </div>
        <div class="graph_container halfwidth right">
          
        </div>
      </div>
    </div>
    <div class="pane" id="reports">
      <div id="r_button_container">
        <a href="#">
          <div id="CRM" class="app_button r_button">

          </div>
        </a>
        <a href="#">
          <div id="marketing" class="app_button r_button">

          </div>
        </a>
        <a href="#">
          <div id="accounting" class="app_button r_button">

          </div>
        </a>
        <a href="#">
          <div id="support" class="app_button r_button">

          </div>
        </a>
        <a href="#">
          <div id="ecommerce" class="app_button r_button">

          </div>
        </a>
      </div>
      
      <div id="CRM_pane" class="r_app_pane">
        <% SalesforceAccount.all.each do |account| %>
          <%= account.name %><br>
        <% end %>
      </div>
      <div id="marketing_pane" class="r_app_pane">
        
      </div>
      <div id="accounting_pane" class="r_app_pane">
        
      </div>
      <div id="support_pane" class="r_app_pane">
        
      </div>
      <div id="ecommerce_pane" class="r_app_pane">
        
      </div>
      
    </div>
    <div class="pane" id="settings">
      <div id="settings_container">
        <div id="profile_picture">
          <div class="edit_button">Edit</div>
          <img src="http://www.eataway.com/assets/img/profile-no-image.png">
        </div>
        <div id="profile_info">
          <h2><%= session[:name] %></h2>
          <h4>CEO</h4>
          <div class="edit_button">Edit</div>
          <h4>Core Cloud App</h4>
          <div class="edit_button">Edit</div>
        </div>
      </div>
    </div>
    <% if !!session[:is_admin] %>
      <div class="pane" id="admin">
        <div id="admin_container">
          <h2>Applications</h2>
          <ul class="wrapper">
            <li>
              <p>CRM</p>
              <a href="#">
                <div id="a_CRM" class="app_button admin_item"></div>
              </a>
            </li>
            <li>
              <p>Marketing</p>
              <a href="#">
                <div id="a_marketing" class="app_button admin_item"></div>
              </a>
            </li>
            <li>
              <p>Accounting</p>
              <a href="#">
                <div id="a_accounting" class="app_button admin_item"></div>
              </a>
            </li>
            <li>
              <p>Support</p>
              <a href="#">
                <div id="a_support" class="app_button admin_item "></div>
              </a>
            </li>
            <li>
              <p>Ecommerce</p>
              <a href="#">
                <div id="a_ecommerce" class="app_button admin_item"></div>
              </a>
            </li>
          </ul>
          <h2>Users</h2>
          <ul class="wrapper">
            <li>
              <p>Paul Foley</p>
              <div class="item user_item"></div>
            </li>
            <li>
              <p>Ben Jacobson</p>
              <div class="item user_item"></div>
            </li>
            <li>
              <p>Larry Page</p>
              <div class="item user_item"></div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>