$(document).ready(function() {

    console.log(gon.payments);
    console.log(gon.invoices);

    if(gon.connected_to_salesforce) {
        $('#a_CRM').removeClass('not_connected');
        $('#r_CRM').removeClass('not_connected');
    }
    if(gon.connected_to_quickbooks) {
        $('#a_marketing').removeClass('not_connected');
        $('#r_marketing').removeClass('not_connected');
    }
    if(gon.connected_to_stripe) {
        $('#a_ecommerce').removeClass('not_connected');
        $('#r_ecommerce').removeClass('not_connected');
    }

    //HIGHCHARTS

    $('#monthly_sales').highcharts({
        chart: {
            type: 'column'
        },
        colors:['#A02020','#20A040'],
        title: {
            text: 'Accounting Overview'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Value ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Invoices',
            data: gon.invoices
        }, {
            name: 'Payments',
            data: gon.payments
        }]
    });
});